@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Locale> Locale

@{
    ViewData["Title"] = Locale["title_about"];
    ViewData["Page"] = "About";
}

<h4>Что такое короткие ссылки (short url), и зачем их раскрывать</h4>
<br/>
<div>
    <p>Люди придумали <strong>короткие ссылки (Short URLs)</strong> для удобства обмена ссылками на какие-либо странички в сети Интернет. Довольно часто бывают ситуации, когда ссылки на какой-нибудь сайт получаются очень уж длинными, и потому неудобными для того, чтобы делиться ими с кем-то.</p>
    <p>Ну, Вы сами представьте, что удобнее, послать по почте или в чате (не говоря уж - о, ужас! -, диктовать кому-то по буквам) ссылку из десяти символов, или из пятисот. Вот. Именно это проделают все существующие сервисы укорачивая ссылок.</p>
    <p>Но, как и многое другое в этом мире, этот инструмент имеет и отрицательную сторону. Дело в том, что переходя по короткой ссылке, человек не видит, куда, собственно, он переходит. А увидит он это только после совершения самого перехода. В нормальной ситуации - если Вы получили короткую ссылку от доверенного лица - здесь нет ничего страшного. Однако с самого появления сервисов укорачивания ссылок, этот инструмент взяли на вооружение спамеры и другие несознательные элементы из около хакерских кругов. В итоге, кликая по короткой ссылке, можно запросто оказаться на каком-нибудь зловредном ресурсе, где от вирусов и прочей малвари не будет отбоя.</p>
    <p>Вот мы и подошли к главному. Чтобы избежать неприятной ситуации, описанной выше, и был создан данный ресурс - <strong>Раскрытие (расшифровка) коротких ссылок</strong>.</p>
    <p>
        Что мы делаем:
        <ul>
            <li>Раскрываем (расшифровуем) короткую ссылку</li>
            <li>Проверяем ресурс на наличие вредоносного кода с помощью Антивируса Dr.Web</li>
            <li>Проверяем ресурс на потенциальную опасность с помощью технологии Google Safe Browsing</li>
        </ul>
    </p>
    <p>После раскрытия короткой ссылки, Вы можете уже осознанно решить, открывать ссылку, или нет.</p>
</div>