@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Locale> Locale

@{
    ViewData["Title"] = Locale["menu_api"];
    ViewData["Page"] = "Api";
}
<h4>LongURL API</h4>
<br/>
<p><strong>LongURL API</strong> is an interface for developers to uncover short URLs using an HTTP-GET request to the longurl.info site.</p>
<h5>
    <u>HTTP-GET request, example with explanations</u>
</h5>
<h6>Header</h6>
<code>GET https://longurl.info/api/2.0/?url=REQUEST_URL&antivirus=REQUEST_ANTIVIRUS</code>
<br/>
<br/>
<h6>HTTP-GET request parameters</h6>
<ul>
    <li><strong class="color-param">REQUEST_URL</strong> – short URL for uncovering as a string</li>
    <li><strong class="color-param">REQUEST_ANTIVIRUS</strong> – if <strong class="color-param">true</strong> is specified, an anti-virus scan of the target resource will be performed (after uncovering the short URL); if <strong class="color-param">false</strong> is specified or the <strong class="color-param">REQUEST_ANTIVIRUS</strong> parameter is omitted, anti-virus scanning will not be performed</li>
</ul>
<p>
    <strong>For example</strong>,<br/>
    <code>GET https://longurl.info/api/2.0/?url=https://bit.ly/2QnxnNZ&antivirus=true</code><br/>
    <code>GET https://longurl.info/api/2.0/?url=https://bit.ly/2QnxnNZ&antivirus=false</code><br/>
    <code>GET https://longurl.info/api/2.0/?url=https://bit.ly/2QnxnNZ</code><br/>
</p>
<h5>
    <u>HTTP-GET response, example with explanations</u>
</h5>
<h6>Header</h6>
<code>HTTP/1.1 200 OK<br/>Content-Type: application/json</code>
<br/>
<br/>
<h6>HTTP-GET response body</h6>
<p>Consider the response body based on the above examples of HTTP-GET requests</p>
<code>
    {<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;"success": true,<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;"url": ["http://example.com"],<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;"antivirusStatus": 0,<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;"antivirusMessage": "HTML_BODY",<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;"safeBrowsing": true<br/>
    }
</code>
<p>As you can see, the response is sent as a JSON string.</p>
<h6>Fields and field values of the HTTP-GET response</h6>
<p>
    <strong class="color-param">success</strong> – sign of success of short URL uncovering, where
    <ul>
        <li><strong class="color-param">true</strong> – successful</li>
        <li><strong class="color-param">false</strong> – some error occurred, possibly the request format is incorrect</li>
    </ul>
</p>
<p><strong class="color-param">url</strong> – array with uncovered short URLs, if a redirect chain is defined, the array will contain several elements</p>
<p>
    <strong class="color-param">antivirusStatus</strong> (*) – the result of antivirus scan, where
    <ul>
        <li><strong class="color-param">0</strong> – no viruses detected</li>
        <li><strong class="color-param">1</strong> – viruses detected</li>
        <li><strong class="color-param">2</strong> – an error occurred during the anti-virus scan, for example, the target resource is unavailable</li>
    </ul>
</p>
<p><strong>Note</strong>. If the anti-virus scan was not performed, i.e. the antivirus parameter in the HTTP-GET request was <strong class="color-param">false</strong>, the <strong class="color-param">antivirusStatus</strong> field value will always be <strong class="color-param">2</strong></p>
<p><strong class="color-param">antivirusMessage</strong> – details (log) of resource check</p>
<p><strong>Attention</strong>. The body of the value of the <strong class="color-param">antivirusMessage</strong> field is represented by a HTML string, you must take this fact into account if you need to display a response on the client side.</p>
<p>
    <strong class="color-param">safeBrowsing</strong> (**) – the result of checking the resource via the Google database of potentially malicious sites, where
    <ul>
        <li><strong class="color-param">true</strong> – the resource is safe</li>
        <li><strong class="color-param">false</strong> – the resource is potentially malicious</li>
    </ul>
</p>
<p><strong>Note</strong>. If the anti-virus scan was not performed, i.e. the antivirus parameter in the HTTP-GET request was <strong class="color-param">false</strong>, the <strong class="color-param">safeBrowsing</strong> field value will always be <strong class="color-param">false</strong></p>
<p><strong>Note</strong>. If a chain of redirects is defined, only the last resource in this chain will be scanned (i.e. the last element in the <strong class="color-param">url</strong> array)</p>
<hr/>
<p>
    (*) – the resource is scanned for viruses using
    <strong>
        <a href="http://www.drweb.com/" target="_blank">Dr.Web</a>
    </strong>
</p>
<p>
    (**) – scanning of potentially unsafe resources is performed using
    <strong>
        <a href="https://transparencyreport.google.com/safe-browsing/overview" target="_blank">Google Safe Browsing</a>
    </strong> technology
</p>