@model LongUrl.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

 <div>
     <h1 class="text-center font-weight-bold">Введите короткую ссылку (short url) для расшифровки</h1>
 </div>

<div>
    <form asp-action="Index" asp-controller="Home" asp-antiforgery="true" class="form-control-sm">
        <p><input asp-for="InMultiUrl" type="radio" value="false" checked="checked" />Расшифровка одной ссылки</p>
        <p><input asp-for="InMultiUrl" type="radio" value="true" />Пакетная расшифровка</p>
        <p><textarea asp-for="InUrlList" rows=""></textarea></p>
        <p><input asp-for="InAntivirus" /></p>
        <input type="submit"/>
    </form>
</div>


<div>
    <vc:response request="@Model"/>
</div>