a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.hidden {
    display: none;
}

/* Response visual elements */
a[target="_blank"] {
    background: url(../images/blank.png) 0 5px no-repeat;
    padding-left: 15px;
    word-wrap: break-word;
}

.gsb {
    background: url(../images/gsb.png) no-repeat;
    line-height: 32px;
    height: 32px;
    margin-bottom: 10px;
}

.drweb {
    background: url(../images/drweb.png) no-repeat;
    line-height: 32px;
    height: 32px;
    margin-bottom: 10px;
}

.virusOn {
    color: #FF0000;
    font-weight: bold;
    padding-left: 40px;
}

.virusOff {
    color: #278D25;
    font-weight: bold;
    padding-left: 40px;
}

.rem, .rem a {
    font-style: italic;
    font-size: 8pt;
    color: #888888;
    text-decoration: none;
    background: none;
    padding: 0;
}

#log {
    max-height: 290px;
    overflow: auto;
}

.space {
    display: table;
    height: 15px;
}

.btn-log {
    padding: 0;
    vertical-align: baseline;
    font-size: small;
    color: darkblue;
}